* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-size: 1rem;
  background: #fffae9;
  /* linear-gradient(0.25turn, #fbf3d8, white, #fbf3d8); */
  /*  font-family: "Source Serif Pro", serif;*/
}

/* --------- Navbar -------- */

.navbar-container {
  height: 12.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  background-color: black;
}

#logo {
  margin: 1.1rem;
}
.nav-links {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem 0;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.nav-link {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
  transition: all 2s;
}

.nav-link:hover {
  font-style: oblique;
}

.nav-link::after {
  position: absolute;
  bottom: -2px;
  left: -5%;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 2px;
  transform: scale(0, 1);
  transition: transform ease-out 0.25s;
}

.nav-link:hover::after {
  width: 110%;
  translate: transformX(-50%);
  transform: scale(1, 1);
}

/* --------- Contact --------- */

.contact-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 3rem;
}

#contact-header {
  padding-top: 2rem;
  text-align: center;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone-email-address-container {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 2rem;
}

.contacts-wrapper {
  display: flex;
}

.contact-card-container {
  width: 25rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 3rem;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  align-items: center;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 400px;
  height: 280px;
  border: none;
  margin: 2rem;
}

.contact-form-container {
  position: relative;
  width: 50%;
  background-color: black;
  color: black;
  margin: 2rem 0;
  border-radius: 0.5rem;
  background-image: url("/src/assets/sarah-janes-tjiP6f7QiOs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
}

.contact-form-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.form-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 5fr 1fr;
  grid-template-areas:
    "header header"
    "input1 input1"
    "input2 input2"
    "input3 input3"
    "input4 input4"
    "button button";
  gap: 1rem;
  padding: 2rem;
  margin: auto;
}

#form-h1 {
  grid-area: header;
  text-align: center;
}

#name-input,
#email-address-input,
#phone-number-input,
#message-input {
  border-radius: 0.8rem;
  border: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
  font-size: 1.1rem;
  font-family: "Source Serif Pro", serif;
}

#name-input:focus,
#email-address-input:focus,
#phone-number-input:focus,
#message-input:focus {
  outline: 2px solid black;
}

#name-input {
  grid-area: input1;
}

#email-address-input {
  grid-area: input2;
}

#phone-number-input {
  grid-area: input3;
}

#message-input {
  grid-area: input4;
  padding-top: 0.5rem;
}

#send-button {
  grid-area: button;
  width: 9rem;
  padding: 0.6rem;
  margin: auto;
  border-radius: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f0bd69;
  color: black;
  border: 2px solid black;
}

#send-button:hover {
  background-color: white;
}

/* --------- Footer -------- */

.footer-container {
  width: 100%;
  height: 12rem;
  background-color: black;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 450px) {
  #contact-header {
    font-size: 1.5rem;
  }

  .contact-page-container {
    flex-direction: column;
    margin: 0;
  }
  .contact-card-container {
    max-width: 20rem;
    height: 2.7rem;
    font-size: 0.8rem;
  }

  iframe {
    width: 320px;
  }

  .contact-form-container {
    width: 90%;
  }

  .form-container {
    padding: 1rem;
    max-height: 30rem;
    gap: 0.8rem;
  }

  #form-h1 {
    font-size: 1.5rem;
  }

  .footer-container {
    max-height: 10rem;
    font-size: 0.8rem;
    text-align: center;
  }

  footer {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 900px) {
  .contact-page-container {
    flex-direction: column;
    margin: 0;
  }

  .contact-form-container {
    width: 85%;
  }

  .form-container {
    padding: 1rem;
  }

  .footer-container {
    text-align: center;
  }
  footer {
    padding: 2rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .contact-page-container {
    flex-direction: column;
  }

  iframe {
    width: 350px;
    height: 250px;
  }

  .contact-form-container {
    width: 90%;
  }

  .contact-details-container {
    flex-direction: row;
  }
}
