* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,600;1,700&display=swap");
/*  font-family: "Source Serif Pro", serif;*/

.App {
  font-size: 1rem;
  background: linear-gradient(0.25turn, #fbf3d8, white, #fbf3d8);
  /*  font-family: "Source Serif Pro", serif;*/
}

/* ----- Navbar ---- */

.navbar-container {
  height: 12.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  background-color: black;
}

#logo {
  margin: 1.1rem;
}
.nav-links {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem 0;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.nav-link {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
}

/* ----- About Us ---- */

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-img-container {
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.about-us p {
  padding: 3rem 4rem;
  font-size: 1.2rem;
}

/* ----- Products ---- */

.about-products {
  height: 560px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  background-image: url("./assets/jars-for-background-resized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-products::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.about-products h1 {
  position: relative;
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 3rem;
}

.about-products p {
  position: relative;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 7% 10%;
}

/* ----- Cards ---- */

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 70%;
  margin: 40px 0;
}

.honey-card {
  display: flex;
  position: relative;
  height: 400px;
  margin: 20px auto;
  background-color: #ab722b;
}

.honey-card::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-right: 100px solid #ab722b;
  border-bottom: 200px solid transparent;
  left: -100px;
  z-index: 1;
}

.honey-card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-left: 100px solid #ab722b;
  border-bottom: 200px solid transparent;
  right: -100px;
}

.honey-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 280px;
  height: 400px;
  padding: 1rem 0;
  -webkit-transform: scale(0.98, 0.98);
  -moz-transform: scale(0.98, 0.98);
  transform: scale(0.98, 0.98);
  z-index: 1;
  background-color: white;
}

.honey-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-right: 100px solid white;
  border-bottom: 200px solid transparent;
  left: -99px;
}

.honey-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 200px solid transparent;
  border-left: 100px solid white;
  border-bottom: 200px solid transparent;
  right: -99px;
}

.honey-text h1 {
  color: #312f17;
}

.honey-text p {
  text-align: center;
  font-size: 1.1rem;
}

#jar-pic {
  top: -100px;
  padding: 2rem;
}

/* ----- Contact ----- */

.contact-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 3rem;
}

#contact-header {
  padding-top: 2rem;
  text-align: center;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.phone-email-address-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.contacts-wrapper {
  display: flex;
}

.contact-card-container {
  width: 25rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 3rem;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  align-items: center;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom right, #fbf3d8, #e1951b);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1rem; */
}

iframe {
  width: 400px;
  height: 280px;
  border: none;
  margin: 2rem;
}

.contact-form-container {
  position: relative;
  width: 50%;
  background-color: black;
  color: black;
  margin: 2rem 0;
  border-radius: 0.5rem;
  background-image: url("./assets/sarah-janes-tjiP6f7QiOs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
}

.contact-form-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.form-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 5fr 1fr;
  grid-template-areas:
    "header header"
    "input1 input1"
    "input2 input2"
    "input3 input3"
    "input4 input4"
    "button button";
  gap: 1rem;
  padding: 2rem;
  margin: auto;
}

#form-h1 {
  grid-area: header;
  text-align: center;
}

#name-input,
#email-address-input,
#phone-number-input,
#message-input {
  border-radius: 0.8rem;
  border: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

#name-input:focus,
#email-address-input:focus,
#phone-number-input:focus,
#message-input:focus {
  outline: 3px solid #e1951b;
}

#name-input {
  grid-area: input1;
}

#email-address-input {
  grid-area: input2;
}

#phone-number-input {
  grid-area: input3;
}

#message-input {
  grid-area: input4;
  padding-top: 0.5rem;
}

#send-button {
  grid-area: button;
  width: 150px;
  height: 40px;
  margin: auto;
  border-radius: 1.3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f3d3a1;
  color: black;
  border: 2px solid black;
}

/* ----- Footer ----- */

.footer-container {
  width: 100%;
  height: 12rem;
  background-color: black;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
